#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text
reboot
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=es --xlayouts='es'
# System language
lang es_ES.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=centos_ansible

# Root password
rootpw --plaintext p@ssw0rd
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Madrid --isUtc
user --groups=wheel --name=admin --password=p@ssw0rd --plaintext --gecos="admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda --timeout=1
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.335 --fstype="lvmpv" --ondisk=sda --size=37896
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup vg-ansible --pesize=4096 pv.335
logvol /var  --fstype="xfs" --size=4096 --name=var --vgname=vg-ansible
logvol /  --fstype="xfs" --size=15360 --name=root --vgname=vg-ansible
logvol /home  --fstype="xfs" --size=10240 --name=home --vgname=vg-ansible
logvol /usr  --fstype="xfs" --size=4096 --name=usr --vgname=vg-ansible
logvol swap  --fstype="swap" --size=4096 --name=swap --vgname=vg-ansible

%packages
@^minimal
@core
chrony
kexec-tools

%end

%post --erroronfail
yum -y update

cat <<EOF > /etc/sudoers.d/admin
Defaults:admin !requiretty
admin ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/admin

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
